<%- layout("layouts/boilerplate") %>

<div class="container">
  <!-- users model -->
  <div class="row mt-4">
    <div class="col-md-8 m-auto">
      <% if(orders!==null && orders.length>0){ %>
      <h3>My Orders</h3>
      <% orders.forEach(order=>{ %>
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-text">
                    <ul class="list-group">
                        <% order.cart.items.forEach(item=>{ %>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <%= item.title %> | <%= item.qty %> units
                                <span class="badge bg-info rounded-pill"><%= item.price %></span>  
                            </li>
                            <% }) %> 
                    </ul>
                </p>
            </div>
            <div class="card-footer">
                <strong>Total Price: ₹<%= order.cart.totalCost %> </strong>
            </div>
        </div>
        <% }) %> 
      <% }else{ %>
            <h3 class="text-center">You have not made any orders yet</h3>
        <% } %> 
    </div>
  </div>
</div>
